.formulario-contacto-container {
  padding: 3rem 0 0;
  background-color: #f7f7f5;
  padding-bottom: 5rem;
}

.titulo-contacto {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  font-weight: bold;
}

.descripcion-contacto {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 3rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.contenido-contacto {
  background-color: #cadfdf;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 5rem auto;
  padding: 3rem;
  border-radius: 15px;
}

.informacion-contacto-container {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.info-telefono,
.info-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.info-telefono,
.info-email,
h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #161f1f;
}

.info-telefono,
.info-email,
p {
  font-size: 1.2rem;
}

.formulario-contacto {
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formulario-de-contacto {
  flex: 2;
  min-width: 300px;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.formulario-campos div {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #444;
}

input,
textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
}

textarea {
  min-height: 150px;
}

.boton-enviar {
  padding: 10px 20px;
  font-size: 1.1rem;
  background-color: #00a896;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-enviar:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.boton-enviar:hover:not(:disabled) {
  background-color: #028f84;
}

.mensaje-enviado {
  background-color: #d4edda;
  color: #155724;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-weight: bold;
}
